div[data-c-component-type="todos"] {

	padding-top: 0;

	.header {

		h1 {
			font-size: 20px;
			text-align: right;
			margin-bottom: 20px;
		}

	}

	.boxes {

		& > div {
			margin-bottom: 25px;
		}

		.box {
			background-color: #1f2326;
			border: 1px solid #343a40;
			padding: 20px;
			color: #ffffff;
		}

		.box h2 {
			margin: 0;
			font-size: 18px;
			font-weight: normal;
			white-space: nowrap;
			color: #999999;
		}

		.box p {
			font-size: 42px;
			margin: 10px 0 0 0;
			text-align: center;
		}

		.box.todays-sales p {
			color: #0099ff;
		}

		.box.amazon-balance p {
			color: #0099ff;
		}

		.box span {
			float: right;
			clear: none;
			font-size: 18px;
		}

		.box span.up,
		.box span.down {
			font-weight: bold;
		}

		.box span.up {
			color: #00ff00;
		}

		.box span.up:before {
			content: "\2191 ";
		}

		.box span.down {
			color: #ff0000;
		}

		.box span.down:before {
			content: "\2193 ";
		}

		.box table {
			margin: 15px 0 0 0;
		}

		.box table thead td {
			font-weight: bold;
		}

		.box table tbody td.name {
			width: 100%;
		}

		.box table tbody td.date {
			white-space: nowrap;
		}
}	}


