<div class="container">

	<div>
		[[i18n('title.label')]]: <input type="text" b:model="m().post.title" /><br />
		{{upper(m().post.title)}}<br />
		{{lower(m().post.title)}}<br />
		<textarea b:model="m().post.body" style="min-width: 400px; min-height: 200px;"></textarea>
		<button b:onclick="m().add()">Add</button>
	</div>

	<!-- b:each:mode="expression" -->

	<section b:each="m().posts" b:each:expression="v().title + '!'">
		<template b:type="empty">
			<p>No posts yet...</p>
		</template>
		<template b:type="item">
			<article>
				<h2>{{v().title}}</h2>
				<div b:markdown="v().body"></div>
			</article>
		</template>
	</section>

	<button b:onclick="m().load()" b:enabled="!m().loading">Load Posts</button>

	<h1>Mutable</h1>

	<ul b:each="m().posts" b:each:mode="expression" b:each:expression="v().title + '!'">
		<template b:type="empty" b:component="repeatEmpty"></template>
		<template b:type="item" b:component="repeatItem"></template>
	</ul>

	<h1>Immutable</h1>

	<ul b:each="[[m().posts]]" b:each:mode="expression" b:each:expression="v().title + '!'">
		<template b:type="empty" b:component="repeatEmpty"></template>
		<template b:type="item" b:component="repeatItem"></template>
	</ul>


</div>
