<div class="container">

	<div c:component-each="this.posts" data-p-component-each-id="blogPost" />

	<div>
		Title: <input type="text" c:model="this.pageTitle" /><br />
		<textarea c:model="this.body"></textarea>
		<button c:onclick="this.add()">Add</button>
	</div>

	<div>
		<ul c:checkbox-list="this.checked" data-p-checkbox-list-items="this.checkboxItems">
		</ul>

		<ul c:repeat="{component: 'commonCheckbox', items: this.items}"></ul>

		<button c:onclick="this.addCheckbox()">addCheckbox</button>
		<button c:onclick="this.addCheckedCheckbox()">addCheckedCheckbox</button>
		<button c:onclick="this.checkOmega()">checkOmega</button>
		<button c:onclick="this.removeCheckbox()">removeCheckbox</button>

	</div>

</div>
