<div class="container">
	<div>
		{{i18n('title.label')}}: <input type="text" c:model="this.post.title" /><br />
		{{upper(this.post.title)}}<br />
		{{lower(this.post.title)}}<br />
		<textarea c:model="this.post.body" style="min-width: 400px; min-height: 200px;"></textarea>
		<button c:onclick="this.add()">Add</button>
	</div>
	<section c:repeat="{items: this.posts}">
		<template type="empty">
			<p>No posts yet...</p>
		</template>
		<template type="item">
			<article>
				<h2 c:content="this.data.title"></h2>
				<div c:markdown="this.data.body"></div>
			</article>
		</template>
	</section>
	<button c:onclick="this.load()" c:enabled="!this.loading">Load Posts</button>
</div>
