<div>

	<p>
		The color is {{e().thecolor}}.<br />
		The color is <input type="text" c:model="e().thecolor"><br />
	</p>

	<p>
		The localValue is {{m().localValue}}.<br />
		The localValue is <input type="text" c:model="m().localValue"><br />
	</p>

	<div class="buttons">
		<button class="button" c:onclick="console.log('Digested')">Digest</button>
		<button class="button" c:onclick="console.log(external())">Show Scope</button>
		<button class="button" c:onclick="m().handleClick()">Call Method</button>
	</div>

</div>
