<div>

	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Cydran</h1>
				<h2 class="subtitle">An unobtrusive JavaScript library for building user interfaces</h2>
				<p>
					<a href="/#/docs" class="button is-large is-info">Get Started</a>
					<a href="/#/tutorials" class="button is-large is-link is-inverted is-outlined">Take the Tutorial &gt;</a>
				</p>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="columns main-body">

			<div class="column">
				&copy; 2018 The Cydran Team<br />
			</div>

			<div class="column">
				&copy; 2018 The Cydran Team
			</div>

			<div class="column">
				&copy; 2018 The Cydran Team
			</div>

		</div>

	</div>

</div>
