<div class="modal" c:class="{'is-active': m().visible}" c:visible="m().visible">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title" c:content="m().title"></p>
			<button class="delete" aria-label="close" c:style="{display: m().closeable ? 'inline-block' : 'none'}" c:onclick="m().hideModal()"></button>
		</header>
		<section class="modal-card-body">
			<c:region name="body"></c:region>
		</section>
		<footer class="modal-card-foot">
			<button class="button is-success">Save changes</button>
			<button class="button" c:onclick="m().hideModal()">Cancel</button>
		</footer>
	</div>
</div>
