<section class="section">

	<div class="container" c:markdown="this.mdContent"></div>

<div class="columns">
		<div class="container column" c:style="{backgroundColor: this.color}">
			<input type="text" c:model="this.myField" />
			<button c:onclick="this.handleMyClick()" c:enabled="this.myField.length > 0">Click Me!</button>

			This is {{this.myField}}!<br />

			<br />
			<br />
			Color: <input type="text" c:model="this.color" />
			<br />
			<br />
			Editable: {{this.lineEditable}}<br />
			<input type="text" c:model="this.firstNameMaxLength" />
			FNMN: {{this.firstNameMaxLength}}<br />
			<input type="text" c:model="this.address.firstName" maxlength="{{this.firstNameMaxLength}}" /><br />
			<input type="text" c:model="this.address.lastName" /><br />
			<input type="text" c:model="this.address.line1" /><br />
			<input type="text" c:model="this.address.line2" c:readonly="!this.lineEditable" />
			<button c:onclick="this.toggleLineEditable()">Editable</button><br />
			<input type="text" c:model="this.address.city" /><br />
			<input type="text" c:model="this.address.state" /><br />
			<input type="text" c:readonly="!this.lineEditable" c:model="this.address.postalCode" />
			<input type="checkbox" c:checked="!this.lineEditable" c:onchange="this.toggleLineEditable()" />
			<input type="radio" c:checked="!this.lineEditable" c:onclick="this.toggleLineEditable()" /><br />
			<br />
			<br />
			<br />
			{{this.address.firstName}} {{this.address.lastName}}<br />
			{{this.address.line1}}<br />
			<span c:visible="this.address.line2.length > 0">{{this.address.line2}}<br /></span>
			{{this.address.city}}, {{this.address.state}} {{this.address.postalCode}}
			<br />
			<br />
			<br />

			<ul c:repeat="{componentName: 'repeatItem', items: this.items}"></ul>

		</div>
		<div class="column">
			<input type="password" size="25" c:model="this.sillypass" /> :
			<input type="text" size="25" c:model="this.sillypass" /><br/>
			<br>
			<br>
			<br>
			<select c:repeat="{items: this.items, componentName: 'selectItem'}"></select>
		</div>
	</div>
</section>
