<section class="section">

	<div class="container" c:markdown="m().mdContent"></div>

<div class="columns">
		<div class="container column" c:style="{backgroundColor: m().color}">
			<input type="text" c:model="m().myField" />
			<button c:onclick="m().handleMyClick()" c:enabled="m().myField.length > 0">Click Me!</button>

			This is {{m().myField}}!<br />

			<br />
			<br />
			Color: <input type="text" c:model="m().color" />
			<br />
			<br />
			Editable: {{m().lineEditable}}<br />
			<input type="text" c:model="m().firstNameMaxLength" />
			FNMN: {{m().firstNameMaxLength}}<br />
			<input type="text" c:model="m().address.firstName" maxlength="{{m().firstNameMaxLength}}" /><br />
			<input type="text" c:model="m().address.lastName" /><br />
			<input type="text" c:model="m().address.line1" /><br />
			<input type="text" c:model="m().address.line2" c:readonly="!m().lineEditable" />
			<button c:onclick="m().toggleLineEditable()">Editable</button><br />
			<input type="text" c:model="m().address.city" /><br />
			<input type="text" c:model="m().address.state" /><br />
			<input type="text" c:readonly="!m().lineEditable" c:model="m().address.postalCode" />
			<input type="checkbox" c:checked="!m().lineEditable" c:onchange="m().toggleLineEditable()" />
			<input type="radio" c:checked="!m().lineEditable" c:onclick="m().toggleLineEditable()" /><br />
			<br />
			<br />
			<br />
			{{m().address.firstName}} {{m().address.lastName}}<br />
			{{m().address.line1}}<br />
			<span c:visible="m().address.line2.length > 0">{{m().address.line2}}<br /></span>
			{{m().address.city}}, {{m().address.state}} {{m().address.postalCode}}
			<br />
			<br />
			<br />

			<ul c:class="{populated: m().items.length > 0}" c:repeat="{item: 'repeatItem', empty: 'emptyRepeat', items: m().items}"></ul>

		</div>
		<div class="column">

			<select style="width: 150px;" c:repeat="{items: m().insideList, idKey: 'value'}" c:model="m().myValues" size="{{m().insideList.length}}" multiple>
				<template type="item">
					<option value="{{item().value}}" c:content="item().name"></option>
				</template>
			</select>
			<select style="width: 150px;" c:repeat="{items: m().insideList, idKey: 'value'}" c:model="m().myValues" size="{{m().insideList.length}}" multiple>
				<template type="item">
					<option value="{{item().value}}" c:content="item().name"></option>
				</template>
			</select>
			<br />
			<br />
			<input type="password" size="25" c:model="m().sillypass" /> :
			<input type="text" size="25" c:model="m().sillypass" />
			<br />
			<br />
			<div c:repeat="{items: m().radioList}">
				<template type="item">
					<div>
						<input type="radio" name="radiocount" value="{{item().id}}" id="{{'rad_' + item().id}}" c:model="p().radioChoice"/>
						<label for="{{'rad_' + item().id}}" c:content="item().label"></label>
					</div>
				</template>
			</div>
			{{m().radioChoice}}: <input type="text" size="5" c:model="m().radioChoice" />
			<br />
			<br />
			<select c:model="m().selectedDropdownOption" c:repeat="{items: m().items, item: 'selectItem'}"></select>
			<br />
			<br />
			!!{{m().selectedDropdownOption}}!!
			<br />
			<br />
			<select c:model="m().selectedDropdownOption" c:repeat="{items: m().items}">
				<template type="empty">
					<option value="" disabled selected>Select your option</option>
				</template>
				<template type="first">
					<option disabled selected>Select One...</option>
				</template>
				<template type="item">
					<option value="{{item().id}}" c:content="item().title"></option>
				</template>
			</select>
			<br />
			<br />

			<ul c:class="{populated: m().items.length > 0}" c:repeat="{item: 'repeatItem', empty: 'emptyRepeat', items: m().items}"></ul>

			<ul c:repeat="{item: 'repeatItem', items: m().items}">
				<template type="empty">
					<li>This is really empty!</li>
				</template>
				<template type="item">
					<li>
						<input type="text" c:model="item().title">
					</li>
				</template>
			</ul>

		</div>
	</div>
</section>
