@import 'bulma/bulma.sass';
@import 'scss/component.scss';
@import 'scss/hero.scss';
@import 'scss/_variables.scss';

html {
	height: 100%;
}

body {
	background-color: #26201a;
	min-height: 100%;
}

div[data-component-type="app"] {

	& > div[data-region-id="body"] {
		margin-top: 52px;
		background-color: #ffffff;
	}

	& > div[data-region-id="menu"] {

		h1, h2, h3, h4, h5, h6, p, label {
			color: #f0f0f0;
		}

	}

}

a.btn.icon > i.fa {
	margin-right: 8px;
}

.main-body {

	background-color: #f0f0f0;

}